examples/basic_flow.json
[{"id":"27f3134d4e2c067a","type":"inject","z":"c2a7925b.6e143","name":"Rectangular prism","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"tankType\":\"rect_prism\",\"length\":400,\"width\":100,\"height\":200,\"measuredHeight\":50}","payloadType":"json","x":450,"y":940,"wires":[["1c665f48aef699cf"]]},{"id":"9bd1a940ed96ee45","type":"debug","z":"c2a7925b.6e143","name":"Volume","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":900,"wires":[]},{"id":"d7bcee8cce12d7dd","type":"inject","z":"c2a7925b.6e143","name":"Sphere","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"tankType\":\"sphere\",\"diameter\":200,\"measuredHeight\":120}","payloadType":"json","x":410,"y":900,"wires":[["1c665f48aef699cf"]]},{"id":"1c665f48aef699cf","type":"tank-volume","z":"c2a7925b.6e143","name":"","tankType":"none","inputField":"payload","outputField":"payload","measurement":"above","inputUnit1":"cm","inputUnit2":"l","outputUnit":"l","topLimit":0,"bottomLimit":0,"diameter":0,"length":0,"width":0,"height":0,"length2":0,"width2":0,"height2":0,"coneHeight":0,"cylinderHeight":0,"diameterTop":0,"diameterBottom":0,"customTable":[],"x":670,"y":900,"wires":[["9bd1a940ed96ee45"]]}]
