examples/custom_tank.json
[{"id":"036fd0e4db56224d","type":"tank-volume","z":"f3483c9d.032fa","name":"","tankType":"custom_table","inputField":"payload","outputField":"payload","measurement":"above","inputUnit1":"cm","inputUnit2":"l","outputUnit":"l","topLimit":"80","bottomLimit":"20","diameter":0,"length":0,"width":0,"height":0,"length2":0,"width2":0,"height2":0,"coneHeight":0,"cylinderHeight":0,"diameterTop":0,"diameterBottom":0,"customTable":[{"height":"100","volume":"500"},{"height":"80","volume":"400"},{"height":"60","volume":"300"},{"height":"40","volume":"200"},{"height":"20","volume":"100"}],"x":960,"y":780,"wires":[["8806beda52b0580c"]]},{"id":"75d01bddcd870705","type":"inject","z":"f3483c9d.032fa","name":"Measured height 50","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"measuredHeight\":50}","payloadType":"json","x":730,"y":780,"wires":[["036fd0e4db56224d"]]},{"id":"8806beda52b0580c","type":"debug","z":"f3483c9d.032fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":780,"wires":[]}]
